page-login {
  .scrollfinsh {
    position: absolute;
    bottom: 0;
    width: 90%;
    padding-top: 10px !important;
  }
  .paddingdo{
    padding-top: 150px;
  }
  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
    border-bottom: none !important;
    box-shadow: none !important;
  }
  .list-md .item-input:last-child{
    border-bottom: none !important;
  }
  .item-md.item-block .item-inner {
    padding: 0px;
  }
  .item-input ion-input, .item-input ion-textarea {
    color: #57A8C3;
  }
  .item-md {
    padding-left:16px !important;
    padding-right:16px !important;
    padding-top: 20px !important;
    background: transparent !important;
  }
  .item-md.item-block .item-inner {
    border-bottom: none;
  }
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}
